@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
	background-color:#fff4e6;
	color: #3c2f2f;
	margin-top: 9em;
  margin-right: 15em;
  margin-left: 15em;
  overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#homebody {
  text-align: center !important;
  color: #3c2f2f !important;
  margin-top: 8em !important;
}

#fewprojectlogo {
  width: 250px !important;
  padding: 0em !important;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}



#branding {
  margin-bottom: 0.5em !important;
  font-size: 2em;
  margin-top: 0em;
}

a {
  text-decoration:none;
  color: #be9b7b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

p {
  text-align: left !important;
  font-family: 'PT Serif', serif;
}


main {
  margin-top:5em; 
}

img {
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
  padding: 1em;
}
nav {
  background-color: #4b3832;
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 32px;
  padding-left:22px;
  border: 5px solid #854442;
  border-radius: 1px;
  display: inline-block;
  z-index: 10;
  width: 100%
}
.nav-left {
  float: left;
}
.nav-left a {
  font-family: 'PT Serif', serif;
  font-size: 2em !important;
  color: #be9b7b !important;
  padding-top: 2em;
  padding-bottom: 0.9em !important;
}
.nav-right {
  float: right;
  margin-right: 3em;
  color: #4b3832;
  padding-top: 1em;
}
div {
  display: block;
}
.nav-right a {
  font-family: 'PT Serif', serif;
	font-size: 17px;	
	text-decoration: none;
  text-align: center;
  color: #be9b7b !important;
	border: 3px solid #854442;
  padding: 14px 16px;
}

.about-body {
  font-size: 20px;
}
h2 {
  margin-bottom:0px !important
}
pre {
  font-family: 'PT Serif', serif;
}

